export DJANGO_DEBUG=False  # to enable debug and postgres together, feel free to manipulate settings.py
export DJANGO_DB_HOST=localhost
export DJANGO_DB_PASSWORD=testme
export DJANGO_DB_NAME=matgame
export DJANGO_DB_USER=postgres
